{% extends "__layout.twig" %}
{% import 'macros.twig' as macros %}

{% block content %}
<h1>{{ title }}</h1>
<ul class="nav nav-pills">
    <li class="nav-item">
        {{ macros.btn("Картинка", '/' ~ url_title ~ '/image', is_image, 'link') }}
    </li>
    <li class="nav-item">
        {{ macros.btn("Описание", '/' ~ url_title ~ '/info', is_info, 'link') }}
    </li>
</ul>

{% if is_image or is_info %}
<div class="frame" style="border: 2px solid #000; padding: 10px; margin: 10px; border-radius: 5px; background-color: #f8f8f8; overflow: hidden;">
    {% block objectContent %}{% endblock %}
</div>
{% endif %}
{% endblock %}
