{% extends "__layout.twig" %}
{% import 'macros.twig' as macros %}

{% block content %}
    <div class="row d-flex">
        {% for object in bread_types %}
            <div class="col mb-4 d-flex align-items-stretch">
                <div class="border p-2 d-flex flex-column justify-content-between">
                    <div class="img-thumbnail mb-2" style="width: 100%; height: 200px; overflow: hidden">
                        <img src="{{object.image}}" style="height: 100%; width: 100%; object-fit: cover;" alt="">
                    </div>
                    <div class="d-flex flex-column">
                        {{ macros.btn(object.title, '/bread-object/' ~ object.id, true, 'primary') }}
                        <div class="d-flex justify-content-center mt-2">
                            {{ macros.btn("Картинка", '/bread-object/' ~ object.id ~ '?show=image', true, 'link') }}
                            {{ macros.btn("Описание", '/bread-object/' ~ object.id ~ '?show=info', true, 'link') }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}